<typescript-component>
  <p>{ state.message }</p>

  <script lang="ts">
      const message: string = 'hello'

      export default {
          state: {
              message
          }
      }
  </script>
</typescript-component>
